---
import Layout from "../../layouts/Layout.astro";
import LinedPaper from "../../layouts/LinedPaper.astro";
---

<Layout>
    <LinedPaper>
        <h1>Projetos</h1>
        <p>
            Em breve, uma lista dos meus projetos mais recentes e interessantes!
        </p>
    </LinedPaper>
</Layout>
