---
import Layout from "../../layouts/Layout.astro";
import LinedPaper from "../../layouts/LinedPaper.astro";
import CachedRepoList from "../../components/CachedRepoList.astro";

let repos = [];

try {
    const r2 = await fetch(
        "https://api.github.com/users/IsmaelCleiton/repos?sort=updated&per_page=100",
    );
    if (r2.ok) repos = await r2.json();
    else console.error("erro fetch github direto", r2.statusText);
} catch (err: any) {
    console.error("erro fetch github", err.message);
}
---

<Layout>
    <LinedPaper>
        <div class="repo-container">
            <h1>Repositórios</h1>
            <CachedRepoList repos={repos} />
        </div>
    </LinedPaper>
</Layout>

<style>
    .repo-container h1 {
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #333;
    }
</style>
