---
import { countReset } from "node:console";
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import LinedPaper from "../../layouts/LinedPaper.astro";
import PostList from "../../components/PostList.astro";
const posts = await getCollection("blog");
var i = 0;
---

<Layout>
    <LinedPaper>
        <div class="blog-container">
            <h1>Blog</h1>

            <PostList posts={posts} />
        </div>
    </LinedPaper>
</Layout>

<style>
    .blog-container h1 {
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #333;
    }
</style>
