---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import LinedPaper from "../../layouts/LinedPaper.astro";
import PostList from "../../components/PostList.astro";
const posts = await getCollection("blog");
var i = 0;
---

<Layout>
    <LinedPaper>
        <div class="blog-container">
            <h1>Blog</h1>

            <PostList posts={posts} />
        </div>
    </LinedPaper>
</Layout>
