---
import SideBar from "../components/SideBar.astro";
import Layout from "../layouts/Layout.astro";
import LinedPaper from "../layouts/LinedPaper.astro";
---

<Layout>
	<LinedPaper>
		<h1>Bem vindo ao meu Studium</h1>
		<p>
			Preciso de um lugar onde possa me distanciar do mundo para me
			encontrar nele.
		</p>
	</LinedPaper>
</Layout>
