---
import SideBar from "../components/SideBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caverna">
	<h1>A Caverna</h1>
	<p>
		Preciso de um lugar onde possa me distanciar do mundo para me encontrar
		nele.
	</p>
</Layout>
