---
const { posts } = Astro.props;
---

<ul class="post-list">
    {
        posts.map((post: any) => (
            <li>
                <div class="post-tile">
                    <small>
                        Publicado em:{" "}
                        {new Date(post.data.pubDate).toLocaleDateString(
                            "pt-BR",
                            {
                                day: "2-digit",
                                month: "2-digit",
                                year: "numeric",
                            },
                        )}
                    </small>
                    <div class="post-title">
                        <h3>{post.data.title}</h3>
                    </div>
                    <p class="description">{post.data.description}</p>
                    <a href={`/blog/${post.data.slug}`}>Ler mais...</a>
                </div>
            </li>
        ))
    }
</ul>

<style>
    .post-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .post-list li {
        margin-bottom: 1rem;
        background-color: #f0f0f000;
    }

    .post-tile {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-left: 3px solid #333;
        background-color: #f0f0f000;
        transition: all 0.3s ease;
    }

    .post-tile:hover {
        background: rgba(0, 0, 0, 0.05);
        transform: translateX(2px);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .post-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    .post-list a {
        text-decoration: none;
        color: inherit;
        flex: 1;
    }

    .post-list h3 {
        font-weight: 500;
        margin: 0;
        color: #333;
        font-size: 1.1rem;
        transition: color 0.2s;
    }

    .post-list a:hover {
        color: #000000;
        font: bold;
        text-decoration: underline;
    }

    .post-list small {
        color: #999;
        font-size: 0.85rem;
        white-space: nowrap;
    }

    .description {
        margin: 0;
        color: #555;
        line-height: 1.5;
        font-size: 0.95rem;
    }
</style>
