---
const { posts } = Astro.props;
---

<ul class="post-list">
    {
        posts.map((post: any) => (
            <li>
                <div class="post-tile">
                    <small>
                        Publicado em:{" "}
                        {new Date(post.data.pubDate).toLocaleDateString(
                            "pt-BR",
                            {
                                day: "2-digit",
                                month: "2-digit",
                                year: "numeric",
                            },
                        )}
                    </small>
                    <div class="post-title">
                        <h3>{post.data.title}</h3>
                    </div>
                    <p class="description">{post.data.description}</p>
                    <a href={`/blog/${post.data.slug}`}>Ler mais...</a>
                </div>
            </li>
        ))
    }
</ul>
