---
const { repos } = Astro.props;
---

<ul class="repo-list">
    {
        repos.map((repo: any) => (
            <li>
                <div class="repo-tile">
                    <div class="repo-title">
                        <h3>
                            <a
                                href={repo.html_url}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                {repo.name}
                            </a>
                        </h3>
                        {repo.language && <small>{repo.language}</small>}
                    </div>
                    {repo.description && (
                        <p class="description">{repo.description}</p>
                    )}
                    <small class="updated">
                        Atualizado em:{" "}
                        {new Date(repo.updated_at).toLocaleDateString("pt-BR", {
                            day: "2-digit",
                            month: "2-digit",
                            year: "numeric",
                        })}
                    </small>
                </div>
            </li>
        ))
    }
</ul>
