---
const { pathname } = Astro.url;
---

<aside class="sidebar">
    <h2>Índice</h2>
    <nav>
        <ul>
            <li class={pathname === "/" ? "active" : ""}>
                <a id="1" href="/" class={pathname === "/" ? "active" : ""}
                    >Início</a
                >
            </li>
            <li class={pathname.startsWith("/blog") ? "active" : ""}>
                <a
                    id="2"
                    href="/blog/"
                    class={pathname.startsWith("/blog") ? "active" : ""}>Blog</a
                >
            </li>
            <li class={pathname.startsWith("/projetos") ? "active" : ""}>
                <a
                    id="3"
                    href="/projetos/"
                    class={pathname.startsWith("/projetos") ? "active" : ""}
                    >Projetos</a
                >
            </li>
            <li class={pathname.startsWith("/sobre") ? "active" : ""}>
                <a
                    id="4"
                    href="/sobre/"
                    class={pathname.startsWith("/sobre") ? "active" : ""}
                    >Sobre</a
                >
            </li>
        </ul>
    </nav>
    <style>
        .sidebar {
            background-color: #f0f0f0;
            position: sticky;
            left: 0;
            top: 0;
            height: 100vh;
            width: 150px;
            border-right: #333 2px solid;
        }

        .sidebar h2 {
            margin-top: 0;
            padding-left: 0.5rem;
            color: #333;
        }

        .sidebar ul {
            list-style-type: none;
            padding-left: 0;
        }

        .sidebar li {
            padding-left: 0.5rem;
            margin-bottom: 2px;
            border-bottom: #333 1px solid;
        }

        .sidebar li:hover {
            transform: translateX(4px);
        }
        .sidebar li.active:hover {
            transform: translateX(0);
        }

        .sidebar li.active {
            background-color: #333;
            border-bottom: none;
        }

        .sidebar a {
            text-decoration: none;
            color: #333;
        }

        .sidebar a:hover {
            font-weight: bold;
            color: #000;
        }

        .sidebar a.active {
            color: #fff;
        }
    </style>
</aside>
