---
const { pathname } = Astro.url;
---

<aside class="sidebar">
    <h2>Índice</h2>
    <nav>
        <ul>
            <li class={pathname === "/" ? "active" : ""}>
                <a id="1" href="/" class={pathname === "/" ? "active" : ""}
                    >Início</a
                >
            </li>
            <li class={pathname.startsWith("/blog") ? "active" : ""}>
                <a
                    id="2"
                    href="/blog/"
                    class={pathname.startsWith("/blog") ? "active" : ""}>Blog</a
                >
            </li>
            <li class={pathname.startsWith("/projetos") ? "active" : ""}>
                <a
                    id="3"
                    href="/projetos/"
                    class={pathname.startsWith("/projetos") ? "active" : ""}
                    >Projetos</a
                >
            </li>
            <li class={pathname.startsWith("/sobre") ? "active" : ""}>
                <a
                    id="4"
                    href="/sobre/"
                    class={pathname.startsWith("/sobre") ? "active" : ""}
                    >Sobre</a
                >
            </li>
        </ul>
    </nav>
</aside>
