---
import "../styles/global.css";
import SideBar from "../components/SideBar.astro";
const { title } = Astro.props;
---

<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Studium"}</title>
	</head>
	<body>
		<div class="page-container">
			<SideBar />
			<main class="main-content">
				<slot />
			</main>
		</div>
	</body>
</html>
